* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
}

h1 {
  margin-bottom: 32px;
}

.max-width-wrapper {
  max-width: 70%;
  margin: auto;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.intro-chunk {
  margin-top: 64px;
  margin-bottom: 48px;
}