* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
}

h1 {
  margin-bottom: 32px;
}

.max-width-wrapper {
  max-width: 100%;
  margin: auto;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.intro-chunk {
  margin-top: 64px;
  margin-bottom: 48px;
  max-width: 35%;
}

header {
  max-width: 70%;
}
section {
  max-width: 70%;
  border-top: solid hsl(0, 0%, 40%) 5px;
  background-color: hsl(0deg, 0%, 60%);
}

.card {
  background-color: white;
  border-bottom: solid hsl(0, 0%, 40%) 5px;
  margin: 48px 0px;
  padding-top: 8px;
  max-width: 70%;
}

.indented-heading {
  width: max-content;
  padding: 16px;
  margin-left: -16px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: solid hsl(45deg, 100%, 40%) 8px;
}